@media all and (min-width: 300px) and (max-width:500px) {
    body {
        width: 375x;
        height: 800px;
        background: linear-gradient($first-radient-color, $second-radient-color);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: static;
    }
    
    hr {
        color: hsl(240, 5%, 91%);
        border-style: solid;
        border-width: 0.5px;
    }
    
    .card {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 40px;
        position: static;
        max-height: 300px;
    
        &__visual {
    
            &--mobile {
                &-img {
                    width: 65%;
                    position: absolute;
                    top: 12.5%;
                    left: 17%;
                }
                &-bg {
                    position: absolute;
                    top: 25%;
                    left: 17%;
                    width: 65%;
                }
            }

            &--desktop {
                display: none;
            }
        }
        &__content {
    
            &-title {
                text-align: center;
                font-weight: 700;
                letter-spacing: 2px;
            }
    
            &-questions {
    
                &--active {
    
                    .card__content-questions--invisible {
                        display: block;
                        width: 250px;
                    }
                    p.card__content-questions--visible-text {
                        font-weight: bold;
                    }
                    img.card__content-questions--visible-arrow {
                        transform: rotate(180deg);
                        transition: all 300ms ease-in;
                    }
                }
    
                &--visible {
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    width: 250px;
    
                    &-text {
                        font-size: 12px;
                        color: hsl(238, 29%, 16%);
                        margin-block-end: 0;
                    }
                }
    
                &--invisible {
                    display: none;
    
                    &-text {
                        font-size: 12px;
                        width: 98%;
                        color: hsl(240, 6%, 50%);
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1000px) and (max-width: 1800px) {

    body {
        height: 800px;
        background: linear-gradient($first-radient-color, $second-radient-color);
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    hr {
        color: hsl(240, 5%, 91%);
        border-style: solid;
        border-width: 0.5px;
    }

    .card {
        background-color: white;
        width: 800px;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 20px;

        &__visual {

            &--mobile {
                display: none;
            }

            &--desktop {

                &-img {
                    position: absolute;
                    left: 14%;
                    width: 400px;
                    top: 35%;
                    z-index: 2;

                }
                &-bg {
                    width: 1000px;
                    position: absolute;
                    left: -32%;
                    top: -25%;
                    z-index: 1;
                }
                &-box {
                    position: absolute;
                    left: 13.5%;
                    top: 52%;
                    width: 150px;
                    z-index: 3;
                }
            }
        }

        &__content {

            padding-top: 50px;
            padding-left: 200px;

            &-title {
                font-weight: 700;
                letter-spacing: 2px;
            }
            &-questions {
                
                &--visible {
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;

                    &-text {
                        font-size: 12px;
                        padding-right: 100px;
                        color: hsl(238, 29%, 16%);
                    }
                }

                &--invisible {
                    display: none;

                    &-text {
                        font-size: 12px;
                        color: hsl(240, 6%, 50%);;
                    }
                }

                &--active {
                    .card__content-questions--invisible {
                        display: block;
                        width: 320px;
                    }
                    p.card__content-questions--visible-text {
                        font-weight: bold;
                    }
                    img.card__content-questions--visible-arrow {
                        transform: rotate(180deg);
                        transition: all 300ms ease-in;
                    }
                }
            }
        }
    }
}